
/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 2rem;
  margin: 0;
  color: brown;
}

nav {
  display: flex;
  gap: 1rem;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 5rem;
  justify-content: space-evenly
  /* padding-left: 25px;
  padding-right:  25px; */
}

nav a {
  text-decoration: none;
  color: black;
  margin: 7px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: lightcoral;
}
nav> a.active {
   font-weight: bold;
    color:crimson;
    border-bottom: 2px solid crimson;
}